<button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar"
    type="button"
    class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-primary-light dark:focus:ring-gray-600">
    <span class="sr-only">Open sidebar</span>
    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path clip-rule="evenodd" fill-rule="evenodd"
            d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
        </path>
    </svg>
</button>

<aside id="default-sidebar"
    class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
    aria-label="Sidebar">

    <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-black flex flex-col">
        <div> <a href="#" class="flex items-center ps-.5 mb-5">
                <img ngSrc="taskk-logo.png" alt="Taskk Logo" height="35" width="35" />
                <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Taskk</span>
            </a>
            <div class="mb-5">
                <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                        <ng-icon name="lucideSearch" class="w-4 h-4 text-gray-100 dark:text-gray-100"
                            style="color: white;" />
                    </div>
                    <input type="search" [value]="searchQuery" (keyup.enter)="onSearch()"
                        class="block w-full p-2 ps-10 text-sm text-gray-900 border-2 border-gray-300 rounded-lg bg-gray-50 focus:ring-primary-light focus:border-primary-light dark:bg-primary-light dark:border-gray-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-light dark:focus:border-primary-light"
                        placeholder="Search..." />
                </div>
            </div>
            <ul class="space-y-2 font-medium">
                @for(item of menuItems; track item.id)
                {
                <li>
                    <a [routerLink]="item.link" (click)="selectItem(item.id)" [class]="getItemClasses(item.id)">
                        <ng-icon [name]="item.icon" class="text-xl" />
                        <span class="ms-3">{{item.label}}</span>
                    </a>
                </li>
                }
            </ul>
        </div>
        @if(currentUserState.isAuthenticated())
        {
        <div
            class="mt-auto px-2 py-4 bg-primary-light dark:bg-primary-light dark:text-white outline-2 outline-gray-700 rounded-lg">
            <a routerLink="/my-profile">
                <div class="flex items-center space-x-4">
                    <img class="w-10 h-10 rounded-full cursor-pointer" ngSrc="default-profile.jpg" height="30"
                        width="30" alt="User profile picture">
                    <div>
                        <div class="font-semibold text-white">{{currentUserState.user()?.firstName}}
                            {{currentUserState.user()?.lastName}}</div>
                        <div class="text-sm text-gray-400">{{currentUserState.user()?.email}}</div>
                    </div>
                </div>
            </a>
        </div>
        }
    </div>
</aside>