<div class="text-gray-300 ">
    <!-- Header: Breadcrumbs and Member Actions -->
    <header class="flex justify-between items-center mb-6 p-4 pb-0 outline outline-offset-[15px] dark:outline-gray-700">
        <p-breadcrumb [model]="items" class="p-4">
            <ng-template #item let-item>
                <div class="flex items-center space-x-2  dark:text-gray-200">
                    @if(item.icon){
                        <a [routerLink]="item.routerLink" class="flex items-center transition">
                            <ng-icon [name]="item.icon" class="w-4 h-4" />
                        </a>
                    }
                    <span class="font-medium">{{ item.label }}</span>
                </div>
            </ng-template>
        </p-breadcrumb>

        <div class="flex items-center gap-4 text-gray-400">
            <!-- Member Avatars -->
            <div class="flex items-center">
                <div class="flex -space-x-2">
                    <img *ngFor="let member of members" class="inline-block h-8 w-8 rounded-full ring-2 ring-primary"
                        [src]="member.img" [alt]="member.name">
                </div>
                <span class="ml-2 text-sm font-medium">+2</span>
            </div>
            <!-- Member Actions -->
            <button
                class="flex items-center gap-2 bg-primary-light px-3 py-1.5 rounded-md hover:bg-gray-700 transition-colors">
                <ng-icon name="lucidePlus" class="text-sm" />
                <span>Find Members</span>
            </button>
            <button class="p-2 rounded-md hover:bg-primary-light">
                <ng-icon name="lucideSettings" size="20"></ng-icon>
            </button>
            <button class="p-2 rounded-md hover:bg-primary-light">
                <ng-icon name="lucideBell" size="20"></ng-icon>
            </button>
        </div>
    </header>
    <!-- Main Content Area -->
    <main class="p-6 pt-2">
        <!-- Project Title -->
        <h1 class="text-3xl  text-white mb-4">{{currentProject()!.name}}</h1>
        <!-- Second row of actions above the board -->

        <!-- Right side actions -->

        <div class="flex flex-row mb-6">

            <!-- Navigation Tabs and Action Buttons -->
            <div class="flex justify-between items-center  bg-black w-fit p-1 rounded-md">
                <!-- Tabs -->
                <nav class="flex items-center gap-2 ">
                    <button *ngFor="let tab of navTabs" [ngClass]="{
                  'bg-primary-gray  text-white font-semibold': tab === activeTab, 
                  'text-gray-400 hover:bg-primary-light': tab !== activeTab
                }" class="px-4 py-2 rounded-md text-sm transition-colors text-nowrap">
                        {{ tab }}
                    </button>
                </nav>

            </div>
            <span class="w-px h-12 bg-gray-700 mx-2"></span> <!-- Separator -->
            <div class="flex flex-row w-full items-center gap-3 justify-between">
                <div class="flex flex-row gap-3">
                    <button
                        class="flex items-center gap-2 bg-primary-gray text-white px-4 py-2 rounded-md hover:bg-gray-700 transition-colors text-sm">
                        <ng-icon name="lucideDownload" size="16"></ng-icon>
                        <span>Import</span>
                    </button>
                    <button
                        class="flex items-center gap-2 bg-secondary text-white px-4 py-2 rounded-md hover:opacity-90 transition-opacity text-sm font-semibold">
                        <ng-icon name="lucidePlus" size="16"></ng-icon>
                        <span>New Board</span>
                    </button>
                </div>
                <div class="flex flex-row gap-3">
                    <button
                        class="flex items-center gap-2 bg-primary-light text-white px-4 py-2 rounded-md hover:bg-gray-700 transition-colors text-sm">
                        <ng-icon name="lucideListFilter" size="16"></ng-icon>
                        <span>Filter</span>
                    </button>
                    <button
                        class="flex items-center gap-2 bg-primary-light text-white px-4 py-2 rounded-md hover:bg-gray-700 transition-colors text-sm">
                        <ng-icon name="lucideArrowUpDown" size="16"></ng-icon>
                        <span>Sort</span>
                    </button>
                </div>
            </div>

        </div>


        <!-- Board Code starts -->
            <app-board-component [projectId]="projectId"></app-board-component>

    </main>
</div>