<div class="rounded-xl shadow-sm flex flex-row justify-start items-start gap-x-3 overflow-x-auto h-full">

    @for (board of boards()!; track board.id) {
    <div
        class="flex flex-col  gap-1 items-center space-x-2 text-sm dark:text-gray-100 text-gray-700  min-w-[23em] p-3  bg-black rounded-lg shadow-lg ">
        <!-- Board Header -->
        <div class="flex flex-row justify-between py-2 px-1 w-full">
            <div class="flex flex-row gap-2">
                <div class="w-2 h-5 rounded-md"
                    [ngStyle]="{ 'background-color': isOptionsPopoverOpen()  && editingBoard()?.id === board.id ? colorValue() :board.colorCode }">
                </div>
                @if(editingBoard() && editingBoard()?.id === board.id && isNameEditing())
                {
                <input type="text" [value]="editingBoard()?.name" (input)="onEditNameInput($event)"
                    id="board-name-input" (keydown.enter)="onNameInputBlur()" (blur)="onNameInputBlur()" />
                }
                @else {
                <span class="font-semibold" (click)="onNameDblClick(board)">{{board!.name}}</span>
                }

                <span class="bg-primary-gray px-2 py-0.5 rounded-full text-xs font-medium ">3</span>
            </div>
            <div class="flex flex-row gap-2">
                <button>
                    <ng-icon name="lucidePlus" class="text-xl" />
                </button>
                <button
                    (click)="options.toggle($event); editingBoard.set(board); colorValue.set(editingBoard()?.colorCode ?? '#ffffff')"
                    class="cursor-pointer">
                    <ng-icon name="lucideEllipsisVertical" class="text-xl" />
                </button>
                <p-popover #options (onHide)="onBoardColorChange()" (onShow)="isOptionsPopoverOpen.set(true)">
                    <h2 class="font-semibold">Colors</h2>
                    <div class="flex gap-2 mb-2 items-center">
                        <p-colorpicker [ngModel]="colorValue()"
                            (ngModelChange)="colorValue.set($event)"></p-colorpicker>

                        <hr class="w-px h-6 mx-2 bg-gray-300 border-0">

                        @for (preset of presetColors; track preset) {
                        <button type="button" class="w-6 h-6 rounded-lg cursor-pointer  " [ngClass]="{
                                'outline-secondary outline-1 outline-offset-2' : colorValue() === preset
                            }" [style.background]="preset" [style.background]="preset"
                            (click)="selectPresetColor(preset)" [attr.aria-label]="preset">
                        </button>
                        }
                    </div>
                </p-popover>
            </div>
        </div>
        <!-- Board Body -->
        <div class="w-full max-h-[55vh] overflow-y-auto" >

            <!-- Task Component -->
            <app-project-task [tasks]="board.tasks ?? []" [taskListId]="'board-' + board.id" [connectedBoards]="connectedBoards()"></app-project-task>

            @if(showAddTaskInput() && editingBoard()?.id === board.id)
            {
            <input placeholder="Task Name" pInputText (blur)="onBlurNewTask()" id="newTaskInput" #newTaskInput class="w-full my-2"
                [(ngModel)]="newTaskInputValue" />
            }

            <!-- Card Component Ends Here -->

        </div>
        <!-- Board Footer -->
        <div class="flex items-center justify-left w-full">
            <button (click)="onAddNewTaskClick(board)"
                class="flex items-center gap-1 cursor-pointer hover:bg-gray-950 px-3 py-2 rounded-lg transition-all ">
                <ng-icon name="lucidePlus" class="text-xl" />
                Add New
            </button>
        </div>
    </div>
    }
</div>