<div class="flex h-full max-w-screen flex-row justify-start gap-x-3 overflow-x-auto" cdkDropList
    [cdkDropListData]="boards()" (cdkDropListDropped)="onBoardDrop($event)" cdkDropListOrientation="horizontal">
    @for (board of boards(); track board.id) {
    <div cdkDrag class="h-fit bg-transparent" [cdkDragData]="board"
        [cdkDragDisabled]="editingBoard() !== null || showAddTaskInputForBoard().id !== null">
        <div
            class="flex min-w-[23em] flex-col items-center gap-1 space-x-2 rounded-lg bg-black p-3 text-sm text-gray-700 shadow-lg dark:text-gray-100">
            <div class="flex w-full flex-row justify-between px-1 py-2">
                <div class="flex flex-row items-center gap-2">
                    <div class="h-5 w-2 rounded-md" [ngStyle]="{ 'background-color': board.colorCode }"></div>

                    @if(editingBoard()?.id === board.id) {
                    <input type="text" pInputText [value]="editingBoard()?.name" (input)="onBoardNameChange($event)"
                        (keydown.enter)="onBoardNameBlur()" (blur)="onBoardNameBlur()"
                        [id]="'board-name-input-' + board.id" class="w-full" />
                    } @else {
                    <span class="font-semibold" (dblclick)="onNameDblClick(board)">{{ board.name }}</span>
                    }

                    <span class="rounded-full bg-primary-gray px-2 py-0.5 text-xs font-medium">
                        {{ board.tasks.length }}
                    </span>
                </div>

                <div class="flex flex-row items-center gap-2">
                    <button (click)="onAddNewTaskClick(board.id??0, 'start')">
                        <ng-icon name="lucidePlus" class="text-xl" />
                    </button>
                    <button (click)="options.toggle($event)" class="cursor-pointer">
                        <ng-icon name="lucideEllipsisVertical" class="text-xl" />
                    </button>

                    <p-popover #options>
                        <h2 class="font-semibold">Colors</h2>
                        <div class="mb-2 flex items-center gap-2">
                            <p-colorpicker format="hex" [ngModel]="board.colorCode"
                                (ngModelChange)="onBoardColorChange($event, board)">
                            </p-colorpicker>

                            <hr class="mx-2 h-6 w-px border-0 bg-gray-300" />

                            @for (preset of presetColors; track preset) {
                            <button type="button" class="h-6 w-6 cursor-pointer rounded-lg"
                                [ngClass]="{ 'outline-secondary outline-1 outline-offset-2': board.colorCode === preset }"
                                [style.background]="preset" (click)="onBoardColorChange(preset, board)"
                                [attr.aria-label]="preset"></button>
                            }
                        </div>
                    </p-popover>
                </div>
            </div>

            <div class="max-h-[70vh] w-full overflow-y-auto">
                @if(showAddTaskInputForBoard().id === board.id && showAddTaskInputForBoard().position === 'start') {
                <input #newTaskInput pInputText placeholder="Task Name" class="my-2 w-full"
                    [id]="'new-task-input-' + board.id" [ngModel]="newTaskInputValue()"
                    (ngModelChange)="newTaskInputValue.set($event)" (blur)="onBlurNewTask(board.id)"
                    (keydown.enter)="onBlurNewTask(board.id)" />
                }

                <app-project-task [tasks]="board.tasks" [taskListId]="'board-' + board.id"
                    [connectedBoards]="connectedBoards()"></app-project-task>

                @if(showAddTaskInputForBoard().id === board.id && showAddTaskInputForBoard().position === 'end') {
                <input #newTaskInput pInputText placeholder="Task Name" class="my-2 w-full"
                    [id]="'new-task-input-' + board.id" [ngModel]="newTaskInputValue()"
                    (ngModelChange)="newTaskInputValue.set($event)" (blur)="onBlurNewTask(board.id)"
                    (keydown.enter)="onBlurNewTask(board.id)" />
                }
            </div>

            <div class="flex w-full items-center justify-start">
                <button (click)="onAddNewTaskClick(board.id ?? 0 , 'end')"
                    class="flex items-center gap-1 rounded-lg px-3 py-2 transition-all hover:bg-gray-950">
                    <ng-icon name="lucidePlus" class="text-xl" />
                    Add New
                </button>
            </div>
        </div>
    </div>
    }
</div>

<app-project-task-edit-modal [visible]="boardStateService.isTaskEditModalVisible()"
    [editingTask]="boardStateService.editingTask()" (close)="boardStateService.selectTaskForEditing(null);">
</app-project-task-edit-modal>