/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "tailwindcss-primeui";
@import "primeicons/primeicons.css";

:root {
    --background: #131517;
    --secondary: rgba(29, 31, 32, 0.356);
    --tertiary: #129dfd;
    --p-inputtext-focus-border-color: #129dfd;
    --p-select-focus-border-color: var(--tertiary);
}

@theme {
    --color-primary: #131517;
    /* --color-primary-light: #181a1c; */
    --color-primary-light: rgba(29, 31, 32, 0.311);
    --color-primary-gray: rgba(29, 31, 32, 0.6);
    --color-secondary: #129dfd;
}

::ng-deep {
   
}



:root {
    /* NgxEditor Dark Theme Variables */
    --ngx-editor-background-color: var(--p-surface-900) !important;
    --ngx-editor-text-color: var(--p-surface-0) !important;
    --ngx-editor-placeholder-color: var(--p-surface-400) !important;
    --ngx-editor-border-color: var(--p-surface-700) !important;
    --ngx-editor-wrapper-border-color: var(--p-surface-700) !important;
    --ngx-editor-menubar-bg-color: var(--p-surface-900) !important;
    --ngx-editor-blockquote-color: var(--p-surface-700) !important;
    --ngx-editor-popup-bg-color: var(--p-surface-900) !important;
    --ngx-editor-popup-shadow: rgba(0, 0, 0, 0.5) 0px 2px 6px 2px !important;
    --ngx-editor-menu-item-hover-bg-color: var(--p-surface-800) !important;
    --ngx-editor-menu-item-active-bg-color: var(--p-surface-700) !important;
    --ngx-editor-seperator-color: var(--p-surface-700) !important;
    --ngx-editor-bubble-bg-color: var(--p-surface-0) !important;
    --ngx-editor-bubble-text-color: var(--p-surface-950) !important;
    --ngx-editor-bubble-item-hover-color: var(--p-surface-700) !important;
    --ngx-editor-bubble-seperator-color: var(--p-surface-950) !important;
    --p-button-label-font-weight: 450;
}

.p-button-label {
    font-weight: var(--p-button-label-font-weight);
}