<div class="flex flex-col text-gray-300 h-full">
    <!-- Header: Breadcrumbs and Member Actions -->
    <header class="flex justify-between items-center mb-4 p-4 pb-0 dark:outline-gray-700">
        <p-breadcrumb [model]="items" class="p-4">
            <ng-template #item let-item>
                <div class="flex items-center space-x-2 dark:text-gray-200">
                    @if(item.icon){
                    <a [routerLink]="item.routerLink" class="flex items-center transition">
                        <ng-icon [name]="item.icon" class="w-4 h-4" />
                    </a>
                    }
                    <span class="font-medium">{{ item.label }}</span>
                </div>
            </ng-template>
        </p-breadcrumb>

        <div class="flex items-center gap-4 text-gray-400">
            <!-- Member Avatars -->
            <div class="flex items-center">
                <div class="flex -space-x-2">
                    <img *ngFor="let member of members" class="inline-block h-8 w-8 rounded-full ring-2 ring-primary"
                        [src]="member.img" [alt]="member.name">
                </div>
                <span class="ml-2 text-sm font-medium">+2</span>
            </div>
            <!-- Member Actions -->

            <p-button label="Find Members" icon="pi pi-plus" severity="secondary" [outlined]="false"
                styleClass="p-button-primary p-button-sm" (onClick)="openFindMembersModal()"></p-button>
            <p-button icon="pi pi-cog" [rounded]="true" [outlined]="true" severity="secondary"
                styleClass="p-2"></p-button>
            <p-button icon="pi pi-bell" [rounded]="true" [outlined]="true" severity="secondary"
                styleClass="p-2"></p-button>
        </div>
    </header>
    <hr class="w-full h-px dark:bg-gray-700 mb-2 bg-gray-800 border-0">

    <!-- Main Content Area -->
    <main class="p-6 pt-2 flex-grow h-full flex flex-col overflow-auto">
        <div>
            <!-- Project Title -->
            <h1 class="text-3xl text-white mb-4">{{currentProject()?.name}}</h1>

            <div class="flex flex-row mb-6">
                <!-- Navigation Tabs -->
                <div class="flex justify-between items-center  bg-black w-fit p-1 rounded-md">
                    <!-- Tabs -->
                    <nav class="flex items-center gap-2 ">
                        <button *ngFor="let tab of navTabs" [ngClass]="{
                  'bg-primary-gray  text-white font-semibold': tab === activeTab, 
                  'text-gray-400 hover:bg-primary-light': tab !== activeTab
                }" class="px-4 py-2 rounded-md text-sm transition-colors text-nowrap">
                            {{ tab }}
                        </button>
                    </nav>

                </div>
                <span class="w-px h-12 bg-gray-700 mx-2"></span> <!-- Separator -->

                <div class="flex flex-row w-full items-center gap-3 justify-between">
                    <div class="flex flex-row gap-3">
                        <p-button label="Import" icon="pi pi-download" severity="secondary"
                            styleClass="p-button-primary p-button-sm"></p-button>
                        <p-button label="New Board" icon="pi pi-plus" severity="primary"
                            styleClass="p-button-primary p-button-sm" (onClick)="openCreateBoardModal()"></p-button>
                    </div>
                    <div class="flex flex-row gap-3">
                        <p-button label="Filter" icon="pi pi-filter" severity="secondary"
                            styleClass="p-button-primary p-button-sm"></p-button>
                        <p-button label="Sort" icon="pi pi-sort-alt" severity="secondary"
                            styleClass="p-button-primary p-button-sm"></p-button>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex-1">
            <!-- Board Code starts -->
            <app-board-component [projectId]="projectId" (boardCreate)="openCreateBoardModal()"
                #boardComp></app-board-component>
        </div>
        <app-board-form-modal [visible]="showBoardModal()" [board]="selectedBoard()" (onSubmit)="onBoardSubmit($event)"
            [projectId]="projectId" (onClose)="showBoardModal.set(false)"></app-board-form-modal>
    </main>
</div>
<app-find-members-dialog [visible]="globalStateStore.isFindMemberModalOpen()"></app-find-members-dialog>